<!-- TABLE -->

<div class="panel panel-default" style="padding-left:160px">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a class="" href="" routeLink="/main">Continue Shopping >></a>
    </h2>
  </div>
</div>


<!-- ADDED LIST -->
<div class="panel panel-default" style="padding-left:160px">
  <div class="panel body">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      <tr *ngFor="let a of cartList, let i = index">
        <img src="{{a.picture}}" alt="" class="img-responsive center-block">
        <td>{{a.name}}</td>
        <td>{{a.price}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="DeleteTask(i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>